 * {
     box-sizing: border-box;
 }
 
 body {
     background-color: #42f4f4;
 }
 
 html {
     font-family: 'Lobster', cursive;
 }
 
 .form-container {
     margin: 0 auto;
     text-align: center;
 }
 
 label {
     font-size: 1em;
 }
 
 label,
 button {
     margin: 0 1em;
 }
 
 input {
     max-width: 350px;
     color: #fff;
 }
 
 .bgimg {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: -1;
     opacity: 1;
 }
 
 .greeting {
     color: black;
     text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
     text-align: center;
 }
 
 ul,
 li {
     font-family: 'Noto Serif', serif;
 }
 
 .wikipedia-container {
     float: right;
     width: 290px;
     padding: 10px;
     /* margin-right: 10px; */
     background-color: rgba(255, 255, 255, 0.5);
 }
 
 .nytimes-container {
     padding: 10px;
     margin-right: 290px;
     background-color: rgba(255, 255, 255, 0.5);
 }
 
 .article-list {
     margin: 0;
     padding: 0;
 }
 
 .article {
     list-style-type: none;
     padding: 10px;
     border-top: 1px solid #CCC;
 }
 
 .article:first-child {
     border-top: none;
 }